body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    transition: background-color 0.3s, color 0.3s;
  }

   h1{
    font-family: 'Times New Roman', Times, serif;
    color: #333;
   }
  .quote-container {
    text-align: center;
    background-color:lightgoldenrodyellow;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
  }
  